header, nav{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header,nav {
    display: block;
}
header {
    margin: 0 0 2em 0;
}

header h2, header h3 {
    margin: 0 0 0.25em 0;
}

header p {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 0.9em;
    color: #696969;
    margin: 0;
}

header p strong {
    color: #404248;
    font-weight: 800;
}

header.major {
    border-bottom: solid 1px #dbdbdb;
    margin: 0 0 3em 0;
}

header.major:after {
    content: '';
    display: block;
    border-top: solid 1px #dbdbdb;
    height: 8px;
}

header.major h2, header.major h3 {
    margin: 0 0 1.2em 0;
}

header.major p {
    margin: 0 0 1.5em 0;
    position: relative;
    top: -1em;
}

/* Nav */

#nav {
    position: absolute;
    right: 2em;
    top: 0;
    line-height: 5.5em;
}

#nav > ul > li {
    float: left;
    padding: 0 0.8em 0 0.8em;
}

#nav > ul > li > a, #nav > ul > li > span {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.95em;
    letter-spacing: 0.075em;
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 6px;
    outline: 0;
}

#nav > ul > li.active > a, #nav > ul > li.current_page_item > a, #nav > ul > li.active > span, #nav > ul > li.current_page_item > span {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.025), 1px 1px 0px 0px rgba(255, 255, 255, 0.025);
}

#nav > ul > li:last-child {
    padding-right: 0;
}

#nav > ul > li > ul {
    display: none;
}

.dropotron {
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0)), url("images/bg02.png");
    position: relative;
    background-color: #3B3E45;
    background-color: rgba(59, 62, 69, 0.9);
    border-radius: 8px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    line-height: 2.5em;
    min-width: 15em;
}

.dropotron.level-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -2px;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.075), 0px 2px 14px 0px rgba(0, 0, 0, 0.4);
}

.dropotron a, .dropotron span {
    color: #aaa;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8em;
    letter-spacing: 0.075em;
    outline: 0;
}

.dropotron li:hover > a, .dropotron li:hover > span {
    color: #fff;
}
